*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.226);
    width: 1300px;
    height: 2800px;
}

header{
    width: 1170px;
    height: 320px;
    background-color: rgba(137, 43, 226, 0.349)
}

#d300x300{
    width: 300px;
    height: 300px;
    background-color: rgb(72, 9, 131);
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#d800x90{
    width: 800px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.329);
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    
}

.meninos{
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
}

#d71{
    width: 70px;
    height: 100px;
    background-color: rgba(22, 211, 101, 0.644);
    float: right;
}
#d72{
    width: 70px;
    height: 100px;
    background-color: aquamarine;
    float: right;
}
#d73{
    width: 70px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.651);
    float: right;
}
mainsaside{
    width: 370px;
    height: 720px;
}

.asides{
    background-color: rgba(31, 56, 7, 0.459);
    width: 370px;
    height: 720px;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

.downsides{
    width: 575px;
    height: 490px;
    background-color: rgba(100, 148, 237, 0.596);
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

lowermain{
    width: 1170px;
    height: 720px;
    background-color: rgba(220, 20, 60, 0.582);
    float: left;
    margin-top: 10px;
}

.meninas{
    width: 365px;
    height: 545px;
    background-color: darkorange;
    float: left;
    margin-top: 7%;
    margin-right: 20px;
    margin-left: 11%;
}

sides{
    width: 270px;
    height: 330px;
    float: left;
    background-color: rgba(0, 128, 0, 0.253);
    margin-top: 10px;
    margin-right: 30px;
}

footer{
    width: 1170px;
    height: 200px;
    clear: both;
    background-color: rgba(8, 8, 145, 0.685);
    margin-top: 10px;
    float: left;
}

#box{
    margin: 0 auto;
}